<% provide :title, @post.title %>
<div class="category-posts">
    <div class="top-bar">
        <h3 class="pull-left"><%= "#{@post.title}" %></h3>
        <div class="clearfix"></div>
    </div>

    <div class="content-post">
        <h3><%= @post.title %></h3>
        <%= sanitize @post.content %>
    </div>
    <div class="share-button">
      <%= social_share_button_tag @post.title, :popup => "true", :title=> @post.title %>
    </div>
</div>

<div class="comment-face">
  <div class="fb-comments" data-href="<%= category_post_url(@category, @post) %>" data-numposts="6"></div>
</div>
