<div class="col-xs-12 col-sm-3" id="sidebar">
  <div class="box-sidbar" id="new-posts">
    <div class="top-box-sidebar">
      <h3>Bài viết mới</h3>
    </div>
    <div class="content-box-side-bar">
      <ul class="list-posts list-unstyled">
        <% @new_posts.each do |post| %>
          <li class="post">
          <h3><%= link_to post.title, post.link, target: "_blank" %></h3>
          <p><i class="glyphicon glyphicon-time"></i> <%= post.published_at.in_time_zone(Settings.time_zone).strftime("%I:%M %p %d/%m/%Y") %></p>
          <p><i class="glyphicon glyphicon-pencil"></i> <a href="#"><%= post.author %></a></p>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

    <div class="box-sidbar" id="new-videos">
      <div class="top-box-sidebar">
        <h3>Video mới</h3>
      </div>
      <div class="content-box-side-bar">
        <div class="frame-video">
          <iframe width="100%" height="200px" src="https://www.youtube.com/embed/D3Xh6rDviv0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="box-sidbar" id="new-album-photo">
      <div class="top-box-sidebar">
        <h3>Album ảnh mới</h3>
      </div>
      <div class="content-box-side-bar">
        <ul class="list-posts list-unstyled">
          <li class="post">
            <div class="image-post">
              <%= image_tag "img8.jpg" , class: "img-responsive img-thumbnail" %>
            </div>
            <h3><a href="#">Ngẫu hứng ngày thu</a></h3>
            <p><i class="glyphicon glyphicon-time"></i> 10:20 20/9/2015</p>
          </li>
          <li class="post">
            <div class="image-post">
              <%= image_tag "img8.jpg" , class: "img-responsive img-thumbnail" %>
            </div>
            <h3><a href="#">Lặng lẽ</a></h3>
            <p><i class="glyphicon glyphicon-time"></i> 10:20 20/9/2015</p>
          </li>
          <li class="post">
            <div class="image-post">
              <%= image_tag "img8.jpg" , class: "img-responsive img-thumbnail" %>
            </div>
            <h3><a href="#">Gọi mưa về trong đêm</a></h3>
            <p><i class="glyphicon glyphicon-time"></i> 10:20 20/9/2015</p>
          </li>
        </ul>
      </div>
    </div>
</div>
