<!DOCTYPE html>
<html>
<head>
  <title>Trần Huy Hoàng</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/header" %>
  <div class="content container">
    <div class="row">
        <div class="col-xs-12 col-sm-9" id="primary">
            <div class="category-posts" id="good-posts">
                <div class="top-bar">
                    <h3 class="pull-left">Bài viết nổi bật</h3>
                    <div class="clearfix"></div>
                </div>

                <div class="list-posts">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="post">
                                <div class="image-post">
                                    <%= image_tag "img1.jpg", class: "img-responsive img-thumbnail" %>
                                </div>
                                <h3><a href="#">Vàng phai trong gió</a></h3>
                                <p><i class="glyphicon glyphicon-time"></i> 14:58 23/9/2015</p>
                                <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a> <i class="glyphicon glyphicon-book"></i> <a href="#">Góc trái tim</a></p>
                                <ul class="list-unstyled info-post">
                                    <li>260 lượt xem</li>
                                    <li title="Thích"><i class="glyphicon glyphicon-thumbs-up"></i> 13</li>
                                    <li title="Bình luận"><i class="glyphicon glyphicon-comment"></i> 27</li>
                                    <li title="Chia sẻ"><i class="glyphicon glyphicon-share-alt"></i> 15</li>
                                </ul>
                            </div>

                            <div class="post">
                                <div class="image-post">
                                    <%= image_tag "img2.jpg" , class: "img-responsive img-thumbnail" %>
                                </div>
                                <h3><a href="#">Vàng phai trong gió</a></h3>
                                <p><i class="glyphicon glyphicon-time"></i> 14:58 23/9/2015</p>
                                <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a> <i class="glyphicon glyphicon-book"></i> <a href="#">Góc trái tim</a></p>
                                <ul class="list-unstyled info-post">
                                    <li>260 lượt xem</li>
                                    <li title="Thích"><i class="glyphicon glyphicon-thumbs-up"></i> 13</li>
                                    <li title="Bình luận"><i class="glyphicon glyphicon-comment"></i> 27</li>
                                    <li title="Chia sẻ"><i class="glyphicon glyphicon-share-alt"></i> 15</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="post">
                                <div class="image-post">
                                    <%= image_tag "img3.jpg" , class: "img-responsive img-thumbnail" %>
                                </div>
                                <h3><a href="#">Vàng phai trong gió</a></h3>
                                <p><i class="glyphicon glyphicon-time"></i> 14:58 23/9/2015</p>
                                <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a> <i class="glyphicon glyphicon-book"></i> <a href="#">Góc trái tim</a></p>
                                <ul class="list-unstyled info-post">
                                    <li>260 lượt xem</li>
                                    <li title="Thích"><i class="glyphicon glyphicon-thumbs-up"></i> 13</li>
                                    <li title="Bình luận"><i class="glyphicon glyphicon-comment"></i> 27</li>
                                    <li title="Chia sẻ"><i class="glyphicon glyphicon-share-alt"></i> 15</li>
                                </ul>
                            </div>

                            <div class="post">
                                <div class="image-post">
                                    <%= image_tag "img4.jpg" , class: "img-responsive img-thumbnail" %>
                                </div>
                                <h3><a href="#">Vàng phai trong gió</a></h3>
                                <p><i class="glyphicon glyphicon-time"></i> 14:58 23/9/2015</p>
                                <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a> <i class="glyphicon glyphicon-book"></i> <a href="#">Góc trái tim</a></p>
                                <ul class="list-unstyled info-post">
                                    <li>260 lượt xem</li>
                                    <li title="Thích"><i class="glyphicon glyphicon-thumbs-up"></i> 13</li>
                                    <li title="Bình luận"><i class="glyphicon glyphicon-comment"></i> 27</li>
                                    <li title="Chia sẻ"><i class="glyphicon glyphicon-share-alt"></i> 15</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="category-posts" id="heard-posts">
                <div class="top-bar">
                    <h3 class="pull-left">Góc trái tim</h3>
                    <h3 class="pull-right"><a href="#">Xem tất cả</a></h3>
                    <div class="clearfix"></div>
                </div>

                <div class="list-posts">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="post">
                                <div class="image-post">
                                    <%= image_tag "img5.jpg" , class: "img-responsive img-thumbnail" %>
                                </div>
                                <h3><a href="#">Vàng phai trong gió</a></h3>
                                <p><i class="glyphicon glyphicon-time"></i> 14:58 23/9/2015</p>
                                <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a> <i class="glyphicon glyphicon-book"></i> <a href="#">Góc trái tim</a></p>
                                <ul class="list-unstyled info-post">
                                    <li>260 lượt xem</li>
                                    <li title="Thích"><i class="glyphicon glyphicon-thumbs-up"></i> 13</li>
                                    <li title="Bình luận"><i class="glyphicon glyphicon-comment"></i> 27</li>
                                    <li title="Chia sẻ"><i class="glyphicon glyphicon-share-alt"></i> 15</li>
                                </ul>
                            </div>

                            <div class="post">
                                <div class="image-post">
                                    <%= image_tag "img6.jpg" , class: "img-responsive img-thumbnail" %>
                                </div>
                                <h3><a href="#">Vàng phai trong gió</a></h3>
                                <p><i class="glyphicon glyphicon-time"></i> 14:58 23/9/2015</p>
                                <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a> <i class="glyphicon glyphicon-book"></i> <a href="#">Góc trái tim</a></p>
                                <ul class="list-unstyled info-post">
                                    <li>260 lượt xem</li>
                                    <li title="Thích"><i class="glyphicon glyphicon-thumbs-up"></i> 13</li>
                                    <li title="Bình luận"><i class="glyphicon glyphicon-comment"></i> 27</li>
                                    <li title="Chia sẻ"><i class="glyphicon glyphicon-share-alt"></i> 15</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="post">
                                <div class="image-post">
                                    <%= image_tag "img7.jpg" , class: "img-responsive img-thumbnail" %>
                                </div>
                                <h3><a href="#">Vàng phai trong gió</a></h3>
                                <p><i class="glyphicon glyphicon-time"></i> 14:58 23/9/2015</p>
                                <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a> <i class="glyphicon glyphicon-book"></i> <a href="#">Góc trái tim</a></p>
                                <ul class="list-unstyled info-post">
                                    <li>260 lượt xem</li>
                                    <li title="Thích"><i class="glyphicon glyphicon-thumbs-up"></i> 13</li>
                                    <li title="Bình luận"><i class="glyphicon glyphicon-comment"></i> 27</li>
                                    <li title="Chia sẻ"><i class="glyphicon glyphicon-share-alt"></i> 15</li>
                                </ul>
                            </div>

                            <div class="post">
                                <div class="image-post">
                                    <%= image_tag "img8.jpg" , class: "img-responsive img-thumbnail" %>
                                </div>
                                <h3><a href="#">Vàng phai trong gió</a></h3>
                                <p><i class="glyphicon glyphicon-time"></i> 14:58 23/9/2015</p>
                                <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a> <i class="glyphicon glyphicon-book"></i> <a href="#">Góc trái tim</a></p>
                                <ul class="list-unstyled info-post">
                                    <li>260 lượt xem</li>
                                    <li title="Thích"><i class="glyphicon glyphicon-thumbs-up"></i> 13</li>
                                    <li title="Bình luận"><i class="glyphicon glyphicon-comment"></i> 27</li>
                                    <li title="Chia sẻ"><i class="glyphicon glyphicon-share-alt"></i> 15</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="category-posts" id="invent-posts">
                <div class="top-bar">
                    <h3 class="pull-left">Sáng tác</h3>
                    <h3 class="pull-right"><a href="#">Xem tất cả</a></h3>
                    <div class="clearfix"></div>
                </div>

                <div class="list-posts">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="post">
                                <div class="image-post">
                                    <%= image_tag "img9.jpg" , class: "img-responsive img-thumbnail" %>
                                </div>
                                <h3><a href="#">Vàng phai trong gió</a></h3>
                                <p><i class="glyphicon glyphicon-time"></i> 14:58 23/9/2015</p>
                                <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a> <i class="glyphicon glyphicon-book"></i> <a href="#">Góc trái tim</a></p>
                                <ul class="list-unstyled info-post">
                                    <li>260 lượt xem</li>
                                    <li title="Thích"><i class="glyphicon glyphicon-thumbs-up"></i> 13</li>
                                    <li title="Bình luận"><i class="glyphicon glyphicon-comment"></i> 27</li>
                                    <li title="Chia sẻ"><i class="glyphicon glyphicon-share-alt"></i> 15</li>
                                </ul>
                            </div>

                            <div class="post">
                                <div class="image-post">
                                    <%= image_tag "img10.jpg" , class: "img-responsive img-thumbnail" %>
                                </div>
                                <h3><a href="#">Vàng phai trong gió</a></h3>
                                <p><i class="glyphicon glyphicon-time"></i> 14:58 23/9/2015</p>
                                <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a> <i class="glyphicon glyphicon-book"></i> <a href="#">Góc trái tim</a></p>
                                <ul class="list-unstyled info-post">
                                    <li>260 lượt xem</li>
                                    <li title="Thích"><i class="glyphicon glyphicon-thumbs-up"></i> 13</li>
                                    <li title="Bình luận"><i class="glyphicon glyphicon-comment"></i> 27</li>
                                    <li title="Chia sẻ"><i class="glyphicon glyphicon-share-alt"></i> 15</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="post">
                                <div class="image-post">
                                    <%= image_tag "img11.jpg" , class: "img-responsive img-thumbnail" %>
                                </div>
                                <h3><a href="#">Vàng phai trong gió</a></h3>
                                <p><i class="glyphicon glyphicon-time"></i> 14:58 23/9/2015</p>
                                <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a> <i class="glyphicon glyphicon-book"></i> <a href="#">Góc trái tim</a></p>
                                <ul class="list-unstyled info-post">
                                    <li>260 lượt xem</li>
                                    <li title="Thích"><i class="glyphicon glyphicon-thumbs-up"></i> 13</li>
                                    <li title="Bình luận"><i class="glyphicon glyphicon-comment"></i> 27</li>
                                    <li title="Chia sẻ"><i class="glyphicon glyphicon-share-alt"></i> 15</li>
                                </ul>
                            </div>

                            <div class="post">
                                <div class="image-post">
                                    <%= image_tag "img4.jpg" , class: "img-responsive img-thumbnail" %>
                                </div>
                                <h3><a href="#">Vàng phai trong gió</a></h3>
                                <p><i class="glyphicon glyphicon-time"></i> 14:58 23/9/2015</p>
                                <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a> <i class="glyphicon glyphicon-book"></i> <a href="#">Góc trái tim</a></p>
                                <ul class="list-unstyled info-post">
                                    <li>260 lượt xem</li>
                                    <li title="Thích"><i class="glyphicon glyphicon-thumbs-up"></i> 1</li>
                                    <li title="Bình luận"><i class="glyphicon glyphicon-comment"></i> 27</li>
                                    <li title="Chia sẻ"><i class="glyphicon glyphicon-share-alt"></i> 15</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="category-posts" id="life-posts">
                <div class="top-bar">
                    <h3 class="pull-left">Sống</h3>
                    <h3 class="pull-right"><a href="#">Xem tất cả</a></h3>
                    <div class="clearfix"></div>
                </div>

                <div class="list-posts">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="post">
                                <div class="image-post">
                                    <%= image_tag "img1.jpg" , class: "img-responsive img-thumbnail" %>
                                </div>
                                <h3><a href="#">Vàng phai trong gió</a></h3>
                                <p><i class="glyphicon glyphicon-time"></i> 14:58 23/9/2015</p>
                                <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a> <i class="glyphicon glyphicon-book"></i> <a href="#">Góc trái tim</a></p>
                                <ul class="list-unstyled info-post">
                                    <li>260 lượt xem</li>
                                    <li title="Thích"><i class="glyphicon glyphicon-thumbs-up"></i> 13</li>
                                    <li title="Bình luận"><i class="glyphicon glyphicon-comment"></i> 27</li>
                                    <li title="Chia sẻ"><i class="glyphicon glyphicon-share-alt"></i> 15</li>
                                </ul>
                            </div>

                            <div class="post">
                                <div class="image-post">
                                    <%= image_tag "img2.jpg" , class: "img-responsive img-thumbnail" %>
                                </div>
                                <h3><a href="#">Vàng phai trong gió</a></h3>
                                <p><i class="glyphicon glyphicon-time"></i> 14:58 23/9/2015</p>
                                <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a> <i class="glyphicon glyphicon-book"></i> <a href="#">Góc trái tim</a></p>
                                <ul class="list-unstyled info-post">
                                    <li>260 lượt xem</li>
                                    <li title="Thích"><i class="glyphicon glyphicon-thumbs-up"></i> 13</li>
                                    <li title="Bình luận"><i class="glyphicon glyphicon-comment"></i> 27</li>
                                    <li title="Chia sẻ"><i class="glyphicon glyphicon-share-alt"></i> 15</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="post">
                                <div class="image-post">
                                    <%= image_tag "img3.jpg" , class: "img-responsive img-thumbnail" %>
                                </div>
                                <h3><a href="#">Vàng phai trong gió</a></h3>
                                <p><i class="glyphicon glyphicon-time"></i> 14:58 23/9/2015</p>
                                <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a> <i class="glyphicon glyphicon-book"></i> <a href="#">Góc trái tim</a></p>
                                <ul class="list-unstyled info-post">
                                    <li>260 lượt xem</li>
                                    <li title="Thích"><i class="glyphicon glyphicon-thumbs-up"></i> 13</li>
                                    <li title="Bình luận"><i class="glyphicon glyphicon-comment"></i> 27</li>
                                    <li title="Chia sẻ"><i class="glyphicon glyphicon-share-alt"></i> 15</li>
                                </ul>
                            </div>

                            <div class="post">
                                <div class="image-post">
                                    <%= image_tag "img4.jpg" , class: "img-responsive img-thumbnail" %>
                                </div>
                                <h3><a href="#">Vàng phai trong gió</a></h3>
                                <p><i class="glyphicon glyphicon-time"></i> 14:58 23/9/2015</p>
                                <p><i class="glyphicon glyphicon-pencil"></i> <a href="#">Trần Huy Hoàng</a> <i class="glyphicon glyphicon-book"></i> <a href="#">Góc trái tim</a></p>
                                <ul class="list-unstyled info-post">
                                    <li>260 lượt xem</li>
                                    <li title="Thích"><i class="glyphicon glyphicon-thumbs-up"></i> 13</li>
                                    <li title="Bình luận"><i class="glyphicon glyphicon-comment"></i> 27</li>
                                    <li title="Chia sẻ"><i class="glyphicon glyphicon-share-alt"></i> 15</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= render "layouts/sidebar" %>
    </div>
  </div>
  <%= render "layouts/footer" %>
<%= yield %>
</body>
</html>
