<!DOCTYPE html>
<html>
<head>
  <title>Trần Huy Hoàng</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/header" %>
  <div class="content container">
    <div class="row">
        <div class="col-xs-12 col-sm-9" id="primary">
          <%= yield %>
        </div>
        <%= render "layouts/sidebar" %>
    </div>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
